@import "tailwindcss";

@theme {
  --color-mara-pink: #FF3366;
  --color-theme-muted: #8B949E;
}

@layer base {
  body {
    background-color: #0B0E14;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
